.navbar {
    display: flex;
    align-items: left;
    justify-content: left;
    position: sticky;
    top: 0;
    cursor: pointer;
    background-color: white;
    z-index: 1000;
}

.background {
    background: rgb(255, 255, 255);
    background-blend-mode: darken;
    background-size: cover;
}

.logo {
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo img {
    width: 5vw;
    min-width: 50px;
    max-width:65px;
}

.nav-list {
    width: 70%;
    display: flex;
    align-items: left;
}

.nav-list li {
    list-style: none;
    padding: 3vw;
}

.nav-list li a {
    text-decoration: none;
    color: #000;
}

.nav-list li a:hover {
    color: grey;
}

.profile-img {
    width: 90%;
    max-width: 500px;
    height: auto;
    align-items: center;
    margin-top: 20px;
}